@import "bootstrap";

/* Variables */

$grayMediumLight: #eaeaea;

/* site wide */

html {
	overflow-y: scroll;
}

body { 
	padding-top: 120px; 
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
  		margin-bottom: 10px;
	}

}

.container {
	/*background-color: #E2E2E2;
	max-height: 80%;*/
}
/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid grayMediumLight;
	color: $grayLight;
	a {
	color: $gray;

		&:hover {
			color: $grayDarker;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}

}